{% extends 'base.twig' %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col"></div>
    <div class="col-md-6 gedf-main">

        <div class="card gedf-card mb-5">
            <div class="card-body">
                <form method="post" action="/posts">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <div class="form-group">
                                <label class="sr-only" for="message">post</label>
                                <textarea class="form-control" maxlength="255" id="message" name="content" rows="3" placeholder="What are you thinking?"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="btn-toolbar float-right">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--- \\\\\\\Post-->
        {% for post in posts %}
        <div class="card gedf-card mb-5">
            <div class="card-header">
                <a href="/profile/{{ post.user.username }}">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                            </div>
                            <div class="ml-2">
                                <h5 class="h5 m-0">{{ post.user.username }}</h5>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="card-body">
                <div class="font-italic mb-4 text-muted">{{ post.created_at|date("d/m/Y") }}</div>

                <p class="card-text">
                    {{ post.content }}
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
            </div>
        </div>
        {% endfor %}
        <!-- Post /////-->

    </div>
    <div class="col"></div>
    </div>
</div>
{% endblock %}