{% extends "base.twig" %}

{% block content %}
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Forgot your password?</h3>
              <p class="font-italic">Send yourself a password reset link</p>

              {% if error or success %}
                <div class="alert {% if error %}alert-danger{% else %}alert-success{% endif %}" role="alert">
                  {{ error }}
                  {{ success }}
                </div>
              {% endif %}
              <form method="post" action="/forgot-password">
                <div class="form-label-group">
                  <input 
                    type="email" 
                    name="email"
                    id="inputEmail" 
                    class="form-control" 
                    placeholder="Email address"
                    value="{{ email }}"
                    required 
                    autofocus
                  >
                  <label for="inputEmail">Email address</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Send reset link</button>
                <p class="font-italic"><a href="/login">I remember my password</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}